@use "../abstracts/variables.module.scss" as *;

.Nav {
  &Wrapper {
    border: 2px solid;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  &Section1 {
    border: 1px solid red;
    flex: 0.4;
  }
  &Section2 {
    border: 1px solid red;
    flex: 1;
  }
  &Section3 {
    border: 1px solid red;
    flex: 0.5;
  }
}
.ScreenShotWrapper {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}
