.Input {
  padding: 15px;
  background-color: rgb(243, 240, 240);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 0px;
  &Wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(185, 184, 184);
    margin: 20px 10px;
  }
}
