.PageWrapper {
  border: 20px solid rgb(185, 184, 184);
  width: 70%;
  margin: auto;
}
.Form {
  &InputWrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(185, 184, 184);
    margin: 20px 10px;
  }
  &Input {
    padding: 15px;
    background-color: rgb(243, 240, 240);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 0px;
  }
}
.Button {
  &Wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  &Cancel {
    background-color: rgb(243, 240, 240);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px;
  }
  &SignUp {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-shadow: 1px 1px;
  }
}
