@use "../abstracts/variables" as *;

.FormWrapper {
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-top: 200px;
  background-color: $white;
  box-shadow: $box-shadow-light;
  border-radius: 10px;
}
