.PageWrapper {
  border: 1px solid;
  width: 70%;
  margin: auto;
}
.Form {
  border: 1px solid red;
  padding: 40px;
  &InputWrapper {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
  }
  &Input {
    padding: 5px;
  }
}
.Button {
  &Wrapper {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  &Cancel {
  }
  &SignUp {
    background-color: rgb(70, 1, 70);
    color: white;
  }
}
